## .NET Core / Visual Studio
[Bb]in/
[Oo]bj/
publish/
[Ll]og/
[Ll]ogs/
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

## Rider / JetBrains
.idea/
*.sln.iml

## VS Code
.vscode/

## OS Files
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
.DS_Store
